<div class="pull-right">
    <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('createEventModal').open()"><i
            class="icon-plus"></i> Inserir Evento</button>
</div>
<ngx-smart-modal #createEventModal identifier="createEventModal">
    <h1 *ngIf="!viewMode && !key">Cadastro do Evento</h1>
    <h1 *ngIf="!viewMode && key">Alteração do Evento</h1>
    <h1 *ngIf="viewMode">Visualização do Evento</h1>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input class="form-control" id="name" placeholder="Informe o nome do evento" formControlName="name" required
                [attr.disabled]="viewMode ? '' : null" type="text">
        </div>
        <div class="form-group">
            <label for="date">Data:</label>
            <input class="form-control" id="date" placeholder="Informe o dia do evento" formControlName="date" required
                [attr.disabled]="viewMode ? '' : null" type="datetime-local" [value]="eventForm?.controls['date']?.value | date:'yyyy-MM-ddTHH:mm'">
        </div>
        <!-- <label for="country">Local:</label> -->
        <div class="form-group" formGroupName="place">
            <label for="country">País:</label>
            <input class="form-control" id="country" placeholder="Informe o país" formControlName="country" type="text"
                [attr.disabled]="viewMode ? '' : null">
            <label for="state">Estado:</label>
            <input class="form-control" id="state" placeholder="Informe o estado" formControlName="state" type="text"
                [attr.disabled]="viewMode ? '' : null">
            <label for="city">Cidade:</label>
            <input class="form-control" id="city" placeholder="Informe a cidade" formControlName="city" type="text"
                [attr.disabled]="viewMode ? '' : null">
        </div>
        <div class="form-group">
            <label for="link">Link do Evento:</label>
            <input class="form-control" id="link" placeholder="Informe o link do evento" formControlName="link"
                [attr.disabled]="viewMode ? '' : null" type="url">
        </div>
        <div class="form-group">
            <label for="register_link">Link de Inscrição do Evento:</label>
            <input class="form-control" id="register_link" placeholder="Informe o link de inscrição do evento"
                [attr.disabled]="viewMode ? '' : null" formControlName="registerLink" type="url">
        </div>
        <div class="form-group" formGroupName="registerPeriod">
            <label for="begin">Data de Início das Inscrições:</label>
            <input class="form-control" id="begin" placeholder="Informe o dia de início das inscrições"
                [attr.disabled]="viewMode ? '' : null" formControlName="begin" type="date">
            <label for="end">Data de Término das Inscrições:</label>
            <input class="form-control" id="end" placeholder="Informe o dia de término das inscrições"
                [attr.disabled]="viewMode ? '' : null" formControlName="end" type="date">
        </div>
        <div class="form-group">
            <label for="banner">Banner:</label>
            <input *ngIf="!viewMode" class="form-control" id="banner" formControlName="banner"
                placeholder="Selecione uma foto para banner" type="file" accept=".png,.jpg" (change)="upload($event)">
            <div *ngIf="startedUpload" class="spinner-border"></div>
            <img *ngIf="uploadedBanner" src="{{uploadedBanner}}" class="img-responsive" width="600" height="400">
            <button *ngIf="uploadedBanner && !viewMode" class="btn btn-primary btn-block" type="button"
                (click)="removeBanner()">Remover Banner</button>
        </div>
        <div formArrayName="modalities">
            <div style="display: flex; justify-content: space-between;"><h3>Modalidades</h3> <button class="btn btn-primary" *ngIf="!viewMode" type="button" (click)="addModality()">Add Modalidade</button></div>
            <div *ngFor="let modality of eventForm.get('modalities').controls; let i = index;">
                <div style="display: flex; justify-content: space-between;" [formGroupName]="i">
                    <input class="form-control col-md-4" type="text" formControlName="name"
                    placeholder="Nome da categoria" [attr.disabled]="viewMode ? '' : null">
                    <div class="input-group col-md-4">
                        <input class="form-control" type="number" formControlName="distance" placeholder="Distância"
                        [attr.disabled]="viewMode ? '' : null">
                        <div class="input-group-append">
                            <span class="input-group-text">Km</span>
                        </div>
                    </div>
                    <input class="form-control col-md-4" type="text" formControlName="gender" placeholder="Gênero"
                    [attr.disabled]="viewMode ? '' : null">
                    <a *ngIf="!viewMode" style="float: right; cursor: pointer;" (click)="removeModality(i)"><i
                        class="fa fa-close"></i></a>
                    <!-- <div formArrayName="times">
                        <h3>Tempos</h3> <button type="button" (click)="addTime(i)">Add Tempo</button>
                        <div *ngFor="let tempo of eventForm.get('modalities').at(i).get('times').controls; let j=index">
                            <a style="float: right; cursor: pointer;" (click)="removeTime(i,j)"><i class="fa fa-close"></i></a>
                            <input type="text" [formControlName]="j" mask="00:00 - 00:00" placeholder="Tempo">
                        </div>
                    </div> -->
                </div>
                <!-- {{ eventForm.controls.modalities.controls[i].controls.name.value }} -->
                <hr>
            </div>
        </div>
        <div class="text-center">
            <button type="reset" class="btn btn-secondary" (click)="createEventModal.close()"><i
                    class="icon-cancel"></i> Cancel</button>
            <button *ngIf="!startedUpload && !viewMode" type="submit" class="btn btn-primary"><i class="icon-save"></i>
                Salvar</button>
            <button *ngIf="startedUpload" class="btn btn-primary" disabled>
                <span class="spinner-border spinner-border-sm"></span>
                Uploading..
            </button>
        </div>
    </form>
</ngx-smart-modal>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Event List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Local</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{event.name}}</td>
                    <td>{{event.place.city}}/{{event.place.state}} - {{event.place.country}}</td>
                    <td>{{ event.date.toDate().toISOString().substring(0, 10) | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <button type="button" class="btn btn-light ml-2" alt="Visualizar" (click)="view(event.id)"><i
                                class="icon-eye"></i></button>
                        <button type="button" class="btn btn-info ml-2" alt="Editar" (click)="edit(event.id)"><i
                                class="icon-pencil"></i></button>
                        <button *ngIf="event.status == 'ACTIVE'" type="button" class="btn btn-warning ml-2"
                            alt="Inativar" (click)="inactivate(event.id)"><i class="icon-close"></i></button>
                        <button *ngIf="event.status == 'INACTIVE'" type="button" class="btn btn-success ml-2"
                            alt="Ativar" (click)="activate(event.id)"><i class="icon-check"></i></button>
                        <button type="button" class="btn btn-danger ml-2" alt="Excluir" (click)="delete(event.id)"><i
                                class="icon-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>