<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" autocomplete="email"
                      formControlName="email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                      formControlName="password" required>
                   
                  </div>
                  <div class="row" *ngIf="errorMessage"> <label class="error">{{errorMessage}}</label></div>
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" (click)="tryLogin(loginForm.value)"
                        class="btn btn-primary btn-block">Login</button>
                    </div>
                    <!-- <div class="col-12 text-right">
                      <a href="#">Forgot password?</a> <br> Not registered yet? <a href="/register" > Register Now!</a>
                    </div> -->
                  </div>
                  <!-- <hr>
                  <div class="row">
                    <div class="col-12" style="margin-bottom: 5px;">
                      <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with
                        Facebook</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12" style="margin-bottom: 5px;">
                      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with
                        Google</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12" style="margin-bottom: 5px;">
                      <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with
                        Twitter</button>
                    </div>
                  </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>