<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" autocomplete="email"
                    formControlName="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
                    formControlName="password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password"
                    required>
                </div>
                <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-block btn-success">Create
                  Account</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Register with
                    Facebook</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with
                    Google</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Register with
                    Twitter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>