<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Abuse List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>De</th>
                    <th>Message</th>
                    <th>Para</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let abuse of abuses">
                        <!-- {{abuse}} -->
                    <td>{{abuse.userFrom.name}}</td>
                    <td>{{abuse.message}}</td>
                    <td>{{abuse.userTo.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>