<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Feedback List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>De</th>
                    <th>Message</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feedback of feedbacks">
                    <td>{{feedback.userFrom.name}}</td>
                    <td>{{feedback.message}}</td>
                    <td *ngIf="feedback.created_at">{{feedback.created_at | date:'dd/MM/yyyy'}}</td>
                    <td *ngIf="!feedback.created_at">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>